<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Application</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    
    <div class="container h-screen w-screen flex items-center justify-center mx-auto bg-gray-100">
        
        <div class="w-3/4 md:w-1/2 my-2 p-2 md:my-8 md:p-8 bg-white rounded-lg">
            <div class="flex flex-col p-2 gap-4 md:p-4 md:gap-8 items-center">
                <p class="text-xl md:text-3xl text-red-700 font-bold uppercase px-2 py-1 md:px-4 md:py-2 w-full rounded-lg text-center"> Unauthorized! </p>
            </div>
        </div>

    </div>
</body>
</html>